.BugList {
  border:1px solid lightgray;
  width:45%;
  padding:10px;
}

.BugList h3 {
  font-size:12px;
  text-transform: uppercase;
  color:gray;
  font-weight:bold;
  padding-left:5px;
}

.BugList .bugs {
  max-height: 200px;
  overflow: scroll;
}

.BugList .addBugInput {
  width:calc(100% - 30px);
  background:whitesmoke;
  border:1px solid lightgray;
  outline:none;
  padding:10px;
}
