.Column {
  min-width:250px;
  max-width:250px;
  height:100%;
  border-radius:10px;
  margin:0px 10px 0px 10px;
}

.Column > .title {
  padding:5px 10px 5px 10px;
  text-transform:uppercase;
  color:#adadad;
  font-size:14px;
  transition: all 0.1s ease-in-out;
}

.Column .cards {
  height:calc(100% - 27px);
  overflow-y:auto;
}

.Column .newCardLink {
  color:gray;
  padding:5px;
  text-decoration: none;
  font-size:14px;
  margin-left:5px;
  position: absolute;
    bottom: 30px;
}

.Column .newCardLink:hover {
  color:orange;
  text-decoration: underline;
}

.Column .newCardInput {
  background:white;
  border:none;
  padding:10px;
  margin-left:10px;
  outline:none;
  width:calc(100% - 40px);
  border-radius:5px;
  font-size:14px;
}

.Column .newCardInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.Column .newCardInput::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.Column .newCardInput:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.Column .newCardInput:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
