.Column {
  position:relative;
  min-width:250px;
  max-width:250px;
  height:100%;
  border-radius:10px;
  margin:0px 10px 0px 10px;
}

.Column > .title {
  padding:5px 10px 5px 10px;
  text-transform:uppercase;
  color:#adadad;
  font-size:14px;
  transition: all 0.1s ease-in-out;
  cursor:pointer;
}

.Column .cards {
  height:calc(100% - 27px);
  overflow-y:auto;
}

.Column .newCardLink {
  color:gray;
  padding:5px;
  text-decoration: none;
  font-size:14px;
  margin-left:5px;
}

.Column .newCardLink:hover {
  color:orange;
  text-decoration: underline;
}

.Column .newCardInput {
  background:white;
  border:none;
  padding:10px;
  margin-left:10px;
  outline:none;
  width:calc(100% - 40px);
  border-radius:5px;
  font-size:14px;
}

.Column .newCardInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.Column .newCardInput::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.Column .newCardInput:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.Column .newCardInput:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.Column .drop-overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:99;
  font-size:80px;
  position:absolute;
  color:#e08908;
}

.CollapsedColumn {
  width:30px;
  height:100%;
  margin-right:10px;
  border-radius:5px;
  cursor:pointer;
}

.CollapsedColumn .title {
  float:left;
  transform: rotate(90deg);
	transform-origin: 4% 90%;
  width: 180px;
  color:#6f97bb;
}
