.Column {
  min-width:250px;
  max-width:250px;
  height:100%;
  border-radius:10px;
  margin:0px 10px 0px 10px;
}

.Column > .title {
  padding:5px 10px 5px 10px;
  text-transform:uppercase;
  color:#adadad;
  font-size:14px;
  transition: all 0.1s ease-in-out;
}

.Column .cards {
  height:calc(100% - 27px);
  overflow-y:auto;
}
