.Card {
  width:calc(100% - 20px);
  min-height:50px;
  border-radius:5px;
  margin: 5px 10px 10px 10px;
  padding-bottom:10px;
}

.Card .title {
  padding:5px;
  padding-left:10px;
  font-size:12px;
}

.Card .title:hover {
  color:blue;
  text-decoration: underline;
  cursor:pointer;
}


.Card .title input {
  outline:none;
  border:none;
  padding:0px;
  margin:0px;
  font-size:14px;
  color:#4d4d4d;
  width:100%;
}

.Card .card-assignee-image {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-left:2px;
}
