.App, .Board {
  background-color:#4575A1;
}

.Column {
  background-color:#E2E4E6;
  xbackground-color:#87B4DD;
  box-shadow: 2px 2px 10px 1px #214A6E;
}

.CollapsedColumn {
  background-color: #32638e;
  box-shadow: 2px 2px 10px 1px #32638e;
}

.Column.active {
  background-color: #F99560;
}

.Column.active > .title {
  color:white;
}


.Column > .title {
  font-weight:bold;
  color: black;
}

.Card {
  background-color: white;
}

.Card > .title {
  color: #4d4d4d;
}

.card-task-icon {
  color: #03A9F4;
}

.card-bug-icon {
  color: brown;
}

.card-enhancement-icon {
  color: purple;
}


.Card .badge {
  background-color:#fbfbfb;
  border-radius:3px;
  padding:0px 3px 0px 3px;
  margin-right:5px;
  color:gray;
  border:1px solid lightgray;
}

.Card .badge.complete {
  background-color:#8bc34a;
  color:white;
}

.Card .badge i {
  position:relative;
  top:1px;
}

.Line > .title {
  color:#bacee0;
}

.Line.component .Column {
  xbackground-color:#f5eb98;
}

.Line.component .Column.active {
  background-color:orange;
}

.Line.test .Column {
  xbackground-color:#009688;
}

.Line.test .Column.active {
  background-color:orange;
}

.Line.done .Column {
  xbackground-color:#e0816f;
}

.Line.done .Column.active {
  background-color:orange;
}

.Line.scratch .Column {
  xbackground-color:#838C91;
}

.Line.scratch .Column.active {
  background-color:orange;
}

button {
  background-color:#214A6E;
  border:1px solid #32608A;
  color: #87B4DD;
  padding:5px;
  border-radius:5px;
  outline:none;
}

button:hover {
  background-color:#32608A;
  cursor:pointer;
}

button:active {
  background-color:#87B4DD;
  color: #214A6E;
  border:1px solid #87B4DD;
}
