.App, .Board {
  background-color:#4575A1;
}

.Column {
  background-color:#E2E4E6;
  box-shadow: 2px 2px 10px 1px #214A6E;
}

.Column.active {
  background-color: #6294C0;
}

.Column > .title {
  font-weight:bold;
  color: black;
}

.Card {
  background-color: white;
  box-shadow: 2px 2px 3px 1px lightgray;
}

.Line > .title {
  color:#bacee0;
}

button {
  background-color:#214A6E;
  border:1px solid #32608A;
  color: #87B4DD;
  padding:5px;
  border-radius:5px;
  outline:none;
}

button:hover {
  background-color:#32608A;
  cursor:pointer;
}

button:active {
  background-color:#87B4DD;
  color: #214A6E;
  border:1px solid #87B4DD;
}
