.MembersBox {
  position:absolute;
  top:0px;
  right:10px;
  cursor:pointer;
}

.MembersBox img {
  margin-left:5px;
  width:20px;
  height:20px;
  border:1px solid #214A6E;
  border-radius:5px;
  margin-top:5px;
}
