html, body, #root {
  height:100%;
  overflow:hidden;
}

.App {
  height:100%;
  overflow:hidden;
}

.AppInner {
  height:100%;
  overflow:hidden;
  padding: 10px 0px 10px 10px;
}

.icon-button {
  color:gray;
}

.icon-button:hover {
  color:orange;
  cursor:pointer;
}

.icon-button:active {
  color:black;
  cursor:pointer;
}

.TopBanner {
  font-size:12px;
  background-color:#214a6e;
  width:100%;
  padding:10px;
  color:#87B4DD;
}
