.MemberList {
  position:relative;
  border:1px solid lightgray;
  width:calc(100% - 40px);
  padding:10px;
  margin-top:10px;
  margin-left:10px;
  border-radius:5px;
  box-shadow: 2px 2px 5px 1px whitesmoke;
  height: calc(100% - 50px);
}

.MemberList h3 {
  font-size:12px;
  text-transform: uppercase;
  color:gray;
  font-weight:bold;
  padding-left:5px;
}

.MemberList .members {
  height: 100%;
  overflow: scroll;
  padding-bottom:30px;
}

.MemberList .addMemberInput {
  position:absolute;
  bottom:5px;
  width:calc(100% - 40px);
  background:whitesmoke;
  border:1px solid lightgray;
  outline:none;
  padding:10px;
}
